.logo {
    width: 80px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 139);
    padding: 20px;
    height: 11rem;
}

.header-center {
    width: 100%;
    max-width: 1330px;
    display: flex;
    justify-content: space-between;
    /* laittaa tyhjän tilan lapsien väliin*/
    align-items: center;
}

body {
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding-right: 10px;
}

a {
    text-decoration: none;
    font-size: 26px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box p {
    line-height: 300%;
    font-size: 26px; /* Staattinen fontti koko suurella näytöllä*/    
    padding: 8px;
}

@media (max-width: 1350px) { /*  kohta 1  */
    .box p {
        font-size: 1.95vw; /* huomioi rem ja vw ero*/     
    }
}

.box-item {
    max-width: 650px;
    max-height: 550px;
    height: 550px;
    /* staattinen korkeus laatikoille */
    /* width: 650px; */
    flex: 1;
    background-color: rgb(241, 227, 255);
    margin: 30 15 30 15;
    border-radius: 20px;
    text-align: center;
    display: flex;
    /* keskitetään p tämän div:n sisällä */
    align-items: center;
    /* y-axis */
    justify-content: center;
    /* x-axis */
}

@media (max-width: 1350px) { /*  kohta 2  */
    .box-item {
        height: auto;
        margin: 1vw 0.5vw 1vw 0.5vw;
    }
}

@media (max-width: 1350px) { /*  kohta 2  */
    .box {
        align-items: stretch;
    }
}

.box-item img {
    /* display: none; kokeillaan toimiiko selector */
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /* width: 650px;
    height: 550px; */
}


footer {
    background-color: rgba(0, 0, 0, 0.724);
    padding: 20px;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-80 {
    width: 80px;
    height: 80px;
}

footer p,
footer a {
    color: white;
}

.p-left40 {
    padding-left: 40px;
}

footer nav ul {
    margin: 0px;
}